.data-table {
  width: 100%;
  th, td {
    border: 1px solid #d9d9d9;
    box-shadow: none !important;
  }
  th {
    background-color: #c9c9c9;
  }
  tr:nth-child(2n) td {
    background-color: #f9f9f9;
  }
}
.main-container {
  .pt-input {
    display: block;
    width: 100%;
  }
  .pt-popover-target {
    display: block;
  }
  .pt-button-search {
    margin-bottom: 15px;
  }
  .pt-not-margin {
    margin: 0 0 4px;
  }
  .data-form {
    padding-top: 20px;
    .pt-button {
      margin: 0 1px;
    }
  }
}